* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
}

body {
    font-family: 'manrope', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 80px;
}

.nav-links a {
    color: #5B5B5B;
}

.nav-links a:hover{
    color: #2460F7;
    transition: 0.3s ease;
}

/* LOGO */
.logo {
    padding: 25px 20px 0px 0px;
}

.logo img{
    width: 280px; 
    height: 162px;
    padding-top: 10px;
    margin-left: -50px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
}

.menu li:hover {
    border-radius: 5px;
    
}

.menu li {
    padding: 5px 14px;
}

.menu li a{
    padding: 10px;
}

/* Contact BUtton */

.contactbtn{
    padding: 20px;
}

.contactbtn button{
    font-weight: bold;
    background-color: #fff;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.hometxt{
    color: #fff;
    width: 60%;
}

.hometxt h1{
    font-size: 100px;
    padding-top: 200px;
    padding-left: 50px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #2460F7;
}

.hometxt p{
    font-size: 40px;
    padding-left: 50px;
}

.searchbar{
    padding-left: 50px;
    padding-top: 20px;
}

.searchbar input{
    background: #292929;
    border: none;
    color: #5B5B5B;
    border-radius: 20px;
    height: 50px;
    padding: 20px;
    font-size: 24px;;
}

.searchbar button{
    padding-left: 10px;
    border: none;
    color: #fff;
}

.searchbar button i{
    padding: 9px;
    padding-left: 13px;
    padding-right: 13px;
    height: 50px;
    background-color: #2460F7;
    border-radius: 10px;
}

.searchbar button i:hover{
    color: #292929;
}

@media screen and (max-width: 760px) {

    .logo{
        font-size: 20px;
    }

    .menu {
        display: none;
    }

    .hometxt{
        width: 100%;
    }

    .contactbtn button{
        font-size: 16px;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }
    
    .hometxt h1{
        font-size: 50px;
        padding-top: 60px;
        padding-left: 20px;
    }

    .hometxt p{
        padding-left: 20px;
        font-size: 30px;
    }
    .logo img{
        width: 180px; 
        height: 108px;
        margin-left: -50px;
    }
    .searchbar{
        padding: 20px;
    }
    .searchbar input{
        height: 20px;
        width: 80%;
    }
    .searchbar button i{
        background-color: transparent;
    }
    .searchbar button i{
        height: 20px;
    }

    .searchbar button i:hover{
        color: #2460F7;
    }
}